@font-face {
    font-family: 'Yantramanav', sans-serif;
    src: url('../fonts/Yantramanav-Bold.woff2') format('woff2'),
        url('../fonts/Yantramanav-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('../fonts/Heebo-Light.woff2') format('woff2'),
        url('../fonts/Heebo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
        url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

