@font-face {
    font-family: 'Yantramanav', sans-serif;
    src: url('../fonts/Yantramanav-Bold.woff2') format('woff2'),
        url('../fonts/Yantramanav-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('../fonts/Heebo-Light.woff2') format('woff2'),
        url('../fonts/Heebo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo', sans-serif;
    src: url('../fonts/Heebo-Bold.woff2') format('woff2'),
        url('../fonts/Heebo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* General rules */
:root {
    --color-black: #000;
    --color-white: #fff;
    --color-bg-dark: #131619;
    --color-accent: #FDBF2D;
    --color-grey-light: #c4c4c4;
    --color-grey: #404040;
    --border-radius: 30px;
    --border: 1px solid var(--color-white);
    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;
    --transition: all .3s;
    --header-height: 90px;
    --input-height: 54px;
}

html, body {
    height: 100vh;
}

body {
    min-width: 320px;
    font-family: var(--font-family-base);
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-bg-dark);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition);
}

a:hover,
a.active,
a:active {
    color: var(--color-accent);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}
/* General rules */

/* Header */
.header {
    min-height: var(--header-height);
}

.header .navbar {
    padding: 25px 32px;
    text-transform: uppercase;
}

.header .navbar .nav-link {
    color: var(--color-white);
    padding-right: 30px;
    padding-left: 30px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.header .navbar .nav-link.active::after {
    content: "";
    width: 5px;
    aspect-ratio: 1;
    background-color: var(--color-white);
    border-radius: 50%;
}

.header .navbar .nav-link.active:hover::after {
    background-color: var(--color-accent);
}

.header .navbar .nav-link:hover  {
    color: var(--color-accent);
}

.header .navbar a {
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: bold;
}

.header .navbar .btn-nav {
    border-radius: var(--border-radius);
    line-height: 2;
    padding: 7px 26px;
    border: var(--border);
}

.header .navbar .btn-nav:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
    border: 1px solid var(--color-accent);
}
/* Header */

/* Banner-section */
.banner-section {
    min-height: calc(100vh - var(--header-height));
    padding: 36px 70px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner-section .carousel-inner {
    text-transform: uppercase;
}

.banner-info {
    display: flex;
    align-items: end;
    font-size: clamp(16px, 1.56vw, 30px);
    line-height: 1.27;
}

.banner-info::before {
    content: "";
    width: clamp(60px ,10.1vw, 194px);
    aspect-ratio: 1;
    margin-right: 30px;
    background: url(../icons/bold-arrow-down-right.svg) center/contain no-repeat; 
}

.banner-title {
    font-size: min(18.75vw, 360px);
}

.banner-section .carousel-indicators {
    column-gap: 14px;
    margin-bottom: 0;
}

.banner-section .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    opacity: 1;
    background-color: transparent;
    border: var(--border);
    background-clip: border-box;
    transition: var(--transition);
}

.banner-section .carousel-indicators .active {
    background-color: var(--color-white);
}

.banner-section .carousel-indicators [data-bs-target]:not(.active):hover {
    border: 1px solid var(--color-accent);
}
/* Banner-section */

/* Motivation-section */
.motivation-item {
    border: 0;
}

.motivation-item:nth-child(odd) {
    background-color: var(--color-black);
}

.motivation-item:nth-child(even) {
    background-color: var(--color-bg-dark);
}

.motivation-card {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: clamp(30px, 10.42vw, 200px);
}

.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}

.motivation-card-body {
    padding-left: 35px;
}

.title-medium {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: clamp(20px, 2.08vw, 40px);
    line-height: 1.3;
}

.motivation-card-image {
    margin-block: -60px;
    display: inline-block;
}

.motivation-item:nth-child(odd) .motivation-card-image {
    z-index: 2;
}

.backdrop-title {
    position: relative;
}

.backdrop-title::before {
    content: '';
    display: block;
    width: 26px;
    aspect-ratio: 1;
    background: url(../icons/plus.svg) center/contain no-repeat;
    position: absolute;
    right: calc(100% + 8px);
}

.backdrop-title::after {
    content: attr(data-title);
    color: transparent;
    font-size: 2.8em;
    font-family: var(--font-family-accent);
    -webkit-text-stroke: 1px var(--color-grey);
    text-stroke: 1px var(--color-grey);
    position: absolute;
    z-index: -1;
    top: -0.45em;
    left: -0.6em;
}

.motivation-card-description {
    max-width: 400px;
    color: var(--color-grey-light);
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.btn.transparent {
    height: var(--input-height);
    border-radius: var(--border-radius);
    background-color: transparent;
    padding-left: 31px;
    padding-right: 80px;
    padding-block: 14px;
    border: var(--border);
    color: var(--color-white);
    font-size: 13px;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: relative;
}

.btn.transparent:active, 
.btn.transparent:active::after {
    color: var(--color-accent);
    background-color: transparent;
    border: 1px solid var(--color-accent);
}

.btn.transparent::after {
    content: '';
    display: block;
    height: 100%;
    aspect-ratio: 1;
    background: url(../icons/arrow-top-right.svg) center/70% no-repeat;
    border: var(--border);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.btn.transparent:hover, .btn.transparent:hover::after {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}
/* Motivation-section */

/* Training-types-section */
.training-types {
    padding: 140px 0;
    margin-inline: auto;
    position: relative;
    background-color: var(--color-black);
}

.training-types-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.training-types-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    background: url(../icons/transparent-arrow-bottom-left.svg) 100% 0/80px no-repeat;
}

.training-types-item img {
    aspect-ratio: 1;
}

.training-types-item-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
/* Training-types-section */

@media only screen and (max-width: 1919px) {
    .motivation-card-image {
        margin-block: -20px;
    }
}

@media only screen and (max-width: 992px) {
    .motivation-card {
        margin: 40px 0;
    }
    
    .motivation-item:nth-child(odd) .motivation-card {
        flex-direction: column;
    }

    .motivation-item:nth-child(even) .motivation-card {
        flex-direction: column-reverse;
    }

    .motivation-card-image {
        margin-block: 0;
    }

    .motivation-card-image {
        max-width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    .banner-section {
        padding-inline: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .banner-info::before {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 576px) {
   
}